.inputContainer {
  display: flex;
  flex-direction: column; /* Columna para expandirse verticalmente */
  flex: 1;
  margin-bottom: 15px;
  overflow: visible; /* El contenedor también permite el crecimiento sin restricciones */
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  margin: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40%;
  text-align: center;
  box-sizing: border-box;
  overflow: visible; /* Oculta el scroll vertical y crece automáticamente */
}

.input:focus {
  border-color: #007bff;
  outline: none;
}